<div class="container">
	<form class="row g-3">
		<legend>Registration Form</legend>
		<div class="col-md-6">
		  <label for="inputEmail" class="form-label">Email:</label>
		  <input type="email" class="form-control" id="inputEmail" placeholder="20194029@s.ubaguio.edu">
		</div>
		<div class="col-md-6">
		  <label for="inputContact" class="form-label">Contact:</label>
		  <input type="text" class="form-control" id="inputContact" placeholder="09955740644">
		</div>

		<div class="col-md-6">
			<label for="inputFN" class="form-label">Firstname:</label>
			<input type="email" class="form-control" id="inputFN" placeholder="Ricardo Rochel Patrick">
		  </div>
		  <div class="col-md-6">
			<label for="inputLN" class="form-label">Lastname:</label>
			<input type="text" class="form-control" id="inputLN" placeholder="Vogel">
		</div>

		<div class="col-md-6">
			<label for="inputAdd1" class="form-label">Current Address:</label>
			<input type="email" class="form-control" id="inputAdd1" placeholder="168, Donalutgarda, Cut-cut1st, Capas, Tarlac">
		</div>

		<div class="col-md-6">
			<label for="inputCity" class="form-label">City:</label>
			<select id="inputCity" class="form-select">
				<option selected>Choose...</option>
				<option>Baguio City</option>
			</select>
		</div>

		<div class="col-md-6">
			<label for="inputSP" class="form-label">State/Province:</label>
			<select id="inputSP" class="form-select">
				<option selected>Choose...</option>
				<option>Benguet</option>
			</select>
		  </div>
		  <div class="col-md-6">
			<label for="inputCountry" class="form-label">Country:</label>
			<select id="inputCountry" class="form-select">
				<option selected>Choose...</option>
				<option>Philippines</option>
			</select>
		</div>
	  
	<button class="btn btn-primary col-1" type="submit" [routerLink]="['/login', ]">Register</button>
	</form>
</div>
<br/><br/>