
<div class='jumbotron' *ngIf="grocery$ | async as grocery">

<header class="fw-bolder p-1 fs-4"> View Details</header>
<div class="row">
  <div class="col">
	<div class="form-floating mb-3">
	  <input type="text"
			 class="form-control"
			 id="floatingCode"
			 placeholder="Grocery ID"
			 [(ngModel)]="grocery.id"> 
			 <label for="floatingid">Grocery Id</label>
	</div>
	</div>
</div>

	<div class="form-floating mb-3">
	  <input type="text"
			 class="form-control"
			 id="floatingCode"
			 placeholder="Type"
			 [(ngModel)]="grocery.type">
			 <label for="floatingbrand">Type</label>
	</div>
	<div class="form-floating mb-3">
	  <input type="text"
			 class="form-control"
			 id="floatingCode"
			 placeholder="Grcery item name"
			 [(ngModel)]="grocery.name">
			 <label for="floatingsize">Name</label>
	</div>
	<div class="form-floating mb-3">
	  <input type="text"
			 class="form-control"
			 id="floatingCode"
			 placeholder="Description"
			 [(ngModel)]="grocery.description">
			 <label for="floatingcolor">Description</label>
	</div>
	<div class="form-floating mb-3">
		<input type="text"
			   class="form-control"
			   id="floatingCode"
			   placeholder="Unit Price"
			   [(ngModel)]="grocery.unit_price">
			   <label for="floatingcolor">Unit Price</label>
	  </div>
	<div class="form-floating mb-3">
	  <input type="text"
			 class="form-control"
			 id="floatingCode"
			 placeholder="Retail Prize"
			 [(ngModel)]="grocery.retail_price">
			 <label for="floatingprize">Retail Prize</label>
	</div>
	<div class="form-floating mb-3">
	  <input type="text"
			 class="form-control"
			 id="floatingCode"
			 placeholder="Manufacturing Company"
			 [(ngModel)]="grocery.manufacturing_company">
			 <label for="floatingorigin">Company</label>
	</div>     
	<div class="modal-footer">
	  <button type="button"  class="btn btn-secondary" rou>Close</button>
	  <button type="button" class="btn btn-primary">Save changes</button>
	</div>

</div>